html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: rgba(175, 238, 238, 0.3);
  color: lightcoral;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

h1 {
  text-align: center;
}

/* button {
  display: block;
  padding: 0.5em 1em;
  border: none;
  background-color: aquamarine;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
} */

.container {
  width: 100%;
}

.entry-text-box {
  width: 100%;
  height: 5rem;
  border-radius: 2px;
  border-color: lightcoral;
  resize: vertical;
  margin-top: 0;
}

/* .form-label {
  display: block;
  margin: 1em auto;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
} */

p.diary-content {
  border: 3px solid blue;
}

.form-label {
  text-align: center;
  margin: 1rem auto;
}

div textarea {
  display: block;
  margin: 1em auto;
}


div button {
  margin: 0 auto;
  display: inline;
}

#btn-mode {
  margin: 0 auto;
  display: inline;
  float: right;
  border: 1px solid lightblue;
  border-radius: 10px;
  z-index: 1;
}

.btn-container {
  text-align: center;
}

/* .small-block {
  display: block;
  width: fit-content;
  border-width: 30px;
  float: right;
  text-align: center;
} */