:root {
  --diary-input-height: 3rem;
  --diary-input-font-size: 2rem;
}

body {
  background-color: #f4f3e1;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

button#diary-add {
  height: var(--diary-input-height);
  font-size: var(--diary-input-font-size);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: block;
}

button#diary-add:hover {
  background-color: gray;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */